Lab 1/firstProject/.expo-shared/*
Lab 1/firstProject/assets/*
Lab 1/firstProject/node_modules/*
Lab 1/firstProject/.idea/*

Lab 2/.expo-shared/*
Lab 2/assets/*
Lab 2/node_modules/*
Lab 2/.idea/*
Lab 2/.expo/*

Homework1/.expo-shared/*
Homework1/assets/*
Homework1/node_modules/*
Homework1/.expo/*

Lab 4/.expo-shared/*
Lab 4/.expo/*
Lab 4/node_modules/*

Lab 5/.expo-shared/*
Lab 5/.expo/*
Lab 5/node_modules/*

Lab 6/.expo-shared/*
Lab 6/.expo/*
Lab 6/node_modules/*

Homework2/.expo-shared/*
Homework2/.expo/*
Homework2/node_modules/*