Lab 1/firstProject/.expo-shared/*
Lab 1/firstProject/assets/*
Lab 1/firstProject/node_modules/*
Lab 1/firstProject/.idea/*

Lab 2/.expo-shared/*
Lab 2/assets/*
Lab 2/node_modules/*
Lab 2/.idea/*
Lab 2/.expo/*

Homework 1/.expo-shared/*
Homework 1/assets/*
Homework 1/node_modules/*
Homework 1/.idea/*
Homework 1/.expo/*