Lab 1/firstProject/.expo-shared/*
Lab 1/firstProject/assets/*
Lab 1/firstProject/node_modules/*
Lab 1/firstProject/.idea/*

Lab 2/.expo-shared/*
Lab 2/assets/*
Lab 2/node_modules/*
Lab 2/.idea/*
Lab 2/.expo/*

Homework1/.expo-shared/*
Homework1/assets/*
Homework1/node_modules/*
Homework1/.idea/*
Homework1/.expo/*